{% extends 'layouts/inicio.html' %} {% load crispy_forms_tags %} {% load static
%} {% block content %}
<!-- Aquí el html con la tablita y eso -->

<div class="titulo text-center">
  <h1>{{evento.nombre}}</h1>
</div>
<a href="{% url 'empleado:agregarViatico' idEvento=evento.id %}">AAA</a>
<div class="d-flex justify-content-center ">
<table class="table table-striped text-center mx-auto tabletamanio">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo</th>
      <th scope="col">Soporte</th>
      <th scope="col">Costo</th>
      <th scope="col">Verificado</th>
    </tr>
  </thead>
  <tbody>
    {% for viatico in viaticos %}
    <tr>
      <td>{{ viatico.fecha_gasto }}</td>
      <td>{{ viatico.tipo_viatico }}</td>
      <td>{{ viatico.soporte }}</td>
      <td>{{ viatico.costo }}</td>
      <td>{% if viatico.verificado%}✔{% else %}❌{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
</div>

